* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.background {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    z-index: -1;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    display: flex;
    position: relative;
    justify-content: center;

    width: 500px;
    height: 550px;
    
    padding: 40px;
    border-radius: 60px;
    border: 1px solid #FFF;
    background: linear-gradient(180deg, rgba(203, 203, 203, 0.15) 67.55%, rgba(0, 0, 0, 0.32) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.player__circle {
    width: 260px;
    height: 260px;
    position: absolute;
    top: -12%;
    left: 24%;
    border-radius: 260px;
    border: 2px solid #FFF;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.circle__img {
    width: 260px;
    height: 260px;
    border-radius: 260px;
    border: 2px solid #FFF;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.circle__img.active {
    animation: rotateAnimation 3s linear infinite;
}

.player__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:25px;
}

.title__name {
    color: #000;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Sacramento;
    font-size: 83px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title__name-song {
    color: #000;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.time {
    display: flex;
    justify-content: space-between;
}
.progress__container {
    width: 320px;
    height: 6px;
    background: #FFF;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.progress {
   
    height: 6px;
    background: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 40px;
}
.btn {
    cursor: pointer;
}

.img__btn {
    height: 50px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__wrapper {
    width: 1280px;
    height: 100px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.footer__title {
    color: #000;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Sacramento;
    font-size: 83px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__img {   
    height: 83px;
}

@keyframes rotateAnimation {
    0% {
        transform: scale(1);
        
    }
    50% {
        transform: scale(1.1); /* Увеличьте объект в 1.5 раза на середине анимации */
    }
    100% {
        transform: scale(1);
    }
}